/* .page-background{background-color: var(--bg-color);height: 100vh;padding: 20px;}

:root {
    --bg-color: #e0dcdc;
    --primary-color: #0d6efd;
    --secondary-color: #6c757d;
    --success-color: #198754;
    --text-color: #333;
  }
   */